---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app envoy-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    global:
      imageRegistry: mirror.gcr.io
    config:
      envoyGateway:
        extensionApis:
          enableEnvoyPatchPolicy: true
        provider:
          type: Kubernetes
          kubernetes:
            deploy:
              type: GatewayNamespace
