---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  dependsOn:
    - name: rook-ceph-cluster
      namespace: storage
    - name: volsync
      namespace: storage
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        runtimeClassName: nvidia
        containers:
          jellyfin:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              JELLYFIN_PublishedServerUrl: &loadBalancerIP ${SVC_JELLYFIN_ADDR}
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8096
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 100m
                memory: 500Mi
              limits:
                memory: 4Gi
                nvidia.com/gpu: "1"
        pod:
          runtimeClassName: nvidia
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 44
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: *loadBalancerIP
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "jellyfin.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      movies:
        globalMounts:
          - path: /media/movies
        type: custom
        volumeSpec:
          csi:
            driver: nfs.csi.k8s.io
            volumeAttributes:
              server: ${QNAP_HOSTNAME}
              share: /movies
              mountOptions: "nfsvers=4.1,sec=sys"
      tv:
        globalMounts:
          - path: /media/tv
        type: custom
        volumeSpec:
          csi:
            driver: nfs.csi.k8s.io
            volumeAttributes:
              server: ${QNAP_HOSTNAME}
              share: /tv
              mountOptions: "nfsvers=4.1,sec=sys"
      tmpfs:
        globalMounts:
          - path: /cache
            subPath: cache
          - path: /config/log
            subPath: log
          - path: /tmp
            subPath: tmp
          - path: /transcodes
            subPath: transcodes
        type: emptyDir
